/*----------/*
    Corpo
/*----------*/

body {
    background-color: #FFD147;

    font: normal 15pt Arial;
}



/*----------/*
  Cabeçalho
/*----------*/

header {
    color: white;

    text-align: center;
    font-style: italic;
}



/*----------/*
  Section
/*----------*/

section {
    background-color: white;
    border-radius: 20px;

    padding: 15px;

    width: 30%;
    margin:auto;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
}

.S-Cab_Imagem {
    display: block;

    margin-left: auto;
    margin-right: auto 
}

.S-Login {
    text-align: center;

}

.S-Log_Usuario {
    margin-bottom: 0;
    margin-right: 120px;
    
    font-size: 16px;
}

.S-Log_Senha {
    margin-bottom: 0;
    margin-right: 130px;
    
    font-size: 16px;
}

.Log-Usuario_Admin, .Log-Senha_Admin {
    text-align: center;
    font-weight: bold;

    width: 50%;
}

#Log-Botao_Esqueci {
    text-align: center;

    padding: 3%;
}

#Log-Botao_Entrar  {
    text-align: center;
    
    padding: 3%;   
}


/*----------/*
  Rodapé
/*----------*/

footer {
    color: white;
    text-align: center;
    font-style: italic;
}