/*----------/*
    Corpo
/*----------*/

body {
    background-color: #FFD147;
    font: normal 15pt Arial;
}

/*----------/*
  Cabeçalho
/*----------*/

header {
    color: white;
    text-align: center;
}

/*----------/*
  Section
/*----------*/

section {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
}

/*----------/*
  Rodapé
/*----------*/

footer {
    color: white;
    text-align: center;
    font-style: italic;
}